.wrapper1 {
    background-color: #dfe6e9;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    top: 0px;
}

.calendar1 {
    margin: auto;
    width: 800px;
    height: 700px;
    background-color: #fff;
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.2);

}

.month1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 30px;
    text-align: center;
   background-image: url("headbg.jpg");
    color: rgb(167, 228, 111);
}

.weekdays1 {
    background-color: #b1b1b1;
    color: rgb(0, 0, 0);
    padding: 7px 0;
    display: flex;
}

.days1 {
    font-weight: 300;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    
}

.weekdays1 div,
.days1 div {
    text-align: center;
    width: 14.28%;
    
    
}

.days1 div {
    height: 60px;
    margin-bottom: 10px;
    transition: all 0.4s;
    
}

.prev_date1 {
    color: rgb(255, 255, 255);
}


#card1
{
    border: rgba(228, 111, 15, 0.151);
    border-style: groove;
    font-size:11px;
    font-weight:bold ;
    color: rgb(87, 9, 18);


}